@model IEnumerable<CarMaintenance.Bill>

@{
    ViewData["Title"] = "帳單明細";
}

<h1>帳單明細</h1>

<a asp-action="BillCreate" asp-route-carId="@ViewBag.CarId">新增</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    <a asp-action="BillEdit" asp-route-carId="@item.CarId">編輯</a> |
                    <a asp-action="BillDelete" asp-route-id="@item.Id" style="color:red" onclick="return confirm('確定要刪除嗎?')">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
